# Ignore node_modules directory
node_modules/

# Ignore environment variables file
.env

# Ignore log files
logs/

# Ignore built artifacts
build/
dist/

# Ignore database files
*.db
*.sqlite

# Ignore IDE and editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore system files
.DS_Store
Thumbs.db

# Ignore npm lock file
package-lock.json

